// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@-webkit-keyframes testedRunning {
  from {color: @text-color;}
  to {color: @text-color-info;}
}

.tested {
	cursor: default;
	min-width: 150px;

	ol {
		list-style: none;
		padding-left: 0;
		line-height: @component-line-height;

		li {
			white-space: nowrap;

			li {
				padding-left: 25px;
			}
		}

		li.container::before {
			font-family: 'Octicons Regular';
			font-weight: normal;
			font-style: normal;
			display: inline-block;
			line-height: 1.5em;
			-webkit-font-smoothing: antialiased;
			text-decoration: none;
			font-size: 12px;
			width: 16px;
			height: 12px;
			content: "\f078";
			top: -2px;
			position: relative;
			color: @text-color;
		}

		li.container.open::before {
			content: "\f0a3";
		}

		li.container > ol {
			display: none;
		}

		li.container.open > ol {
			display: block;
		}
	}

	.test-pass {
		color: @text-color-success;
	}

	.test-fail {
		color: @text-color-error;
	}
}

.tested-running::before {
	-webkit-animation-name: testedRunning;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

.tested-resizer {
	position: relative;
	height: 100%;
	overflow: hidden;
	cursor: default;
	-webkit-user-select: none;
	min-width: 100px;
	width: 200px;
	z-index: 2;

	.tested-resize-handle {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 10px;
		cursor: col-resize;
		z-index: 3;
		left: -5px;
	}
}

.tested-scroller {
	height: calc(~"100% - 200px");
	width: 100%;
	overflow: auto;
}

.tested-console {
  background-color: darken(@base-background-color, 10%);
  border-top: 1px solid @base-border-color;
  height: 200px;
  overflow: scroll;
  cursor: text;
  padding: 10px 0 0 10px;
  -webkit-user-select: text;

  .line {
    font-family: monospace;
    font-size: 12px;
    line-height: 1.3em;
    white-space: nowrap;
    color: lighten(@text-color, 10%);
    -webkit-user-select: text;
  }

  .error {
    color: lighten(@text-color-error, 10%);
  }
}
